-e git+ssh://git@github.com/django-nonrel/djangotoolbox.git#egg=djangotoolbox
-e git+ssh://git@github.com/django-nonrel/djangoappengine.git#egg=djangoappengine
-e git+ssh://git@github.com/django-nonrel/django-dbindexer.git#egg=django-dbindexer
-e git+ssh://git@github.com/django-nonrel/django-nonrel.git#egg=django-nonrel
-e hg+ssh://hg@bitbucket.org/twanschik/django-autoload#egg=django-autoload
